black
Flask>=2.2.2  # Flask 2.0 deprecations were enforced.
flask-caching
geographiclib
numpy
pip-tools
polyline
pylibmc
pyproj
pytest
pytest-cov
pytest-timeout
PyYAML
rasterio>=1.3.8,<1.4.0  # 1.3.8+ avoids memory leak https://github.com/ajnisbet/opentopodata/issues/68; 1.4.0 introduces some bugs in rowcol/xy (as of 2024-10-11).
requests
watchdog
