black
Flask>=2.2.2  # Some flask 2.0 deprecations got real.
flask-caching
geographiclib
numpy
pip-tools
polyline
pylibmc
pyproj
pytest
pytest-cov
pytest-timeout
PyYAML
rasterio>=1.3.8  # Avoid memory leak https://github.com/ajnisbet/opentopodata/issues/68
requests
